:root {
  --bg: #f9f4ff;
  --text: #2d033b;
  --card: #ffffff;
  --accent: #cdb4db;
}

[data-theme="dark"] {
  --bg: #2d033b;
  --text: #fceff9;
  --card: #3f1a4f;
  --accent: #a26fa7;
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.4s, color 0.4s;
}
body.light .card {
  background-color: #ffffff; /* ou #f9f1ff */
  color: #1f1f1f; /* pour assurer la lisibilité du texte */
  border: 1px solid #e0cfff;
}
body.light {
  background-color: #faf5ff; /* lavande très clair */
  color: #1e1e1e;
}

body.light .hero-title,
body.light .hero-tagline,
body.light h3,
body.light p {
  color: #1e1e1e;
}

.card {
  background-color: var(--card);
  transition: background-color 0.4s, transform 0.4s;
}

a, .icon {
  color: var(--accent);
}

.theme-toggle {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  z-index: 1000;
  transition: transform 0.4s ease;
}
.theme-toggle svg {
  width: 30px;
  height: 30px;
  transition: transform 0.6s ease;
}
